/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  /* width: auto; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* nav styles */
nav {
  align-items: center;
}
.n-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}
.header-logo {
  display: flex;
}
.header-logo > img {
  margin-right: 15px;
}
. nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 25px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424247;
}
.nav-text {
  display: flex;
}
.home-color {
  color: #ff5400;
  font-weight: 700;
}
.common-heading {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-right: 50px;
}
.header-color {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
}
/* banner section */
.banner-container {
  background-image: url(../Images/group13.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1150px;
  height: 500px;
  margin-top: 50px;
  margin: auto;
  border-radius: 15px;
}
.all-text {
  margin-top: 50px;
  width: 100%;
}
.banner-text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
.form-box {
  text-align: center;
  flex-direction: column;
}
.banner-title {
  color: #fff;
  font-size: 3.5555rem;
  width: 800;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.form-box {
  color: rgba(255, 255, 255, 0.637);
  padding: 25px;
}
.form-style {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 18px 21px;
  margin-right: 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.444);
}
.form-box > button {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 18px 21px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.956);
  color: rgba(255, 255, 255, 0.963);
}
/* popular section */
.popular-container {
  display: flex;
  width: 1092px;
  margin: auto;
  margin-top: 70px;
}
.common-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400px;
  line-height: 27px;
}
#mahadi {
  margin-top: 1rem;
}
.ul-description {
  margin-left: 40px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400px;
  margin: 32px;
  line-height: 27px;
}
.primary-btn {
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 18px 20px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.956);
  color: white;
  margin-top: 1.8rem;
}
/* choose section */
.Choose-container {
  width: 80vw;
  margin: auto;
}
.choose-text {
  width: 80vw;
  margin: auto;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 1.9rem;
}
#saikot {
  margin-top: 1.34rem;
}
.first-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin: 1rem 0;
}
.second-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}
.third-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-top: 1rem;
}
/* maldives img */
.maldives {
  position: relative;
  text-align: center;
}
.maldives > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* insonesia img */
.indonesia {
  position: relative;
  text-align: center;
}
.indonesia > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* srilanka img */
.srilanka {
  position: relative;
  text-align: center;
}
.srilanka > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* north-america img */
.north-america {
  position: relative;
  text-align: center;
}
.north-america > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* kashmir img */
.kashmir {
  position: relative;
  text-align: center;
}
.kashmir > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* bangladesh img */
.bangladesh {
  position: relative;
  text-align: center;
}
.bangladesh > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* bandarban img */
.bandarban {
  position: relative;
  text-align: center;
  height: auto;
}
.bandarban > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
}

/* why choose third section */
#chooser-container {
  width: 80vw;
  margin: auto;
  margin-top: 4rem;
}
#chooser-container > div {
  text-align: center;
}
#chooser-container > h2 {
  margin-bottom: 1rem;
}
.location-content {
  margin: 1.5rem 0;
}
#service-card-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#service-card-container > .service-box-hotel {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 1rem;
}
.service-box-hotel > h3 {
  margin: 1rem 0;
}
#service-card-container > .service-box-location {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 1rem;
}
.service-box-location > h3 {
  margin: 1rem 0;
}
#chooser-container > .service-box-guarantee {
  width: 40vw;
  margin: auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 1rem;
  margin-top: 1rem;
}
.service-box-guarantee > h3 {
  margin: 1rem 0;
}
/* Newsletter third section */
#newslater-container {
  width: 81vw;
  margin-top: 3rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.newslater-description {
  width: 100%;
  height: 100%;
  border: 1px solid #ff550079;
  border-radius: 0.75rem;
  padding: 1rem;
}
.newslater-description hr {
  border: none;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.name-email {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 1rem;
}
.subscribe-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 18px 20px;
  font-weight: 700;
  text-align: center;
  background-color: red;
  color: white;
}
.newslater-image {
  position: relative;
}
.save-up {
  border: none;
  border-radius: 5px;
  width: 243px;
  border-radius: 1rem;
  padding: 18px 20px;
  font-weight: 700;
  text-align: center;
  background-color: red;
  color: white;
  position: absolute;
  bottom: 41px;
  right: 10px;
  transform: rotate(-19.628deg);
}
.save-up p {
  color: #fff;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.save-up span {
  color: #fff;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 800;
}
/* Responsive media queries */
/* mobile device */
@media screen and (max-width: 600px) {
  .n-container {
    flex-direction: column;
  }
  .nav-text {
    flex-direction: column;
    margin: 10px;
    height: auto;
  }
  .banner-container {
    width: 330px;
    height: 480;
    margin: auto;
    padding: auto;
  }
  .banner-title {
    font-size: 2rem;
    /* flex-direction: column; */
  }
  .form-box {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
  }

  .popular-container {
    flex-direction: column;
    width: 560px;
  }
  .popular-text {
    width: auto;
    margin-right: 10px;
  }
  .Choose-container {
    grid-template-columns: 1fr 0;
  }
  #service-card-container {
    flex-direction: column;
  }
}
